


.cabecalho__signin{
  text-decoration: none;
  color: #2A7AE4;
  border:1px solid #2A7AE4;
  transition: 0.2s;
  font-size:1.4rem;
  
  }
.cabecalho__signin:link{
  color: #2A7AE4;
 
  
}
.cabecalho__signin:visited{
  color: #2A7AE4;
  
}
.cabecalho__signin:hover{
  color: #2A7AE4;
  
}