.cabecalho__pesquisa{
  background:#F5F5F5;
  background-image: url(../../img/lupa.svg);  
  background-repeat: no-repeat;
  background-position:right;
  border: 1px black solid;
  border-radius: 15px;
  width: 30em;
  height: 2rem;
  
  
}

@media (max-width: 480px) and (min-width: 320px)
{.cabecalho__pesquisa{
  background:#F5F5F5;
  border: 1px black solid;
  border-radius: 15px;
  width: 90%;
  height: 2rem;
  
}
