.principal{background: white;
           width: 100%;
           height:auto;
           display:flex;
           flex-wrap: wrap;
           flex-direction: column;
           text-align: center;
           align-items: center;
           
  
}

.principal__botão{
   height:2rem;
   width:70%;  
   margin: 1rem;
  background:blue;
  color:white;
  border:1px solid blue;
}

.principal__botão:hover{
  color:whitesmoke;
}

.principal__descricao{
  height:2rem;
  width:70%;
  margin:1rem;
}

.principal__form{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.principal__nomeDoProdulto{
  height:2rem;
  width:70%;
  margin:1rem;600
}


.principal__texto{
  font-size: 2rem;
  margin: 1.2rem;
}

.principal__tipos{
  height:2rem;
  width:70%;
  margin:1rem;
  background:white;
  border:1px solid black;
  border-radius:2px;
}

.principal__url{
  height:2rem;
  width:70%;
  margin:1rem;
}

.principal__valor{
  height:2rem;
  width:70%;
  margin:1rem;
}

