.rodape{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background:lightblue ;
  align-items: center;
}

.rodape__info{
  color:#464646;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rodape__info:link{color:#464646;}
.rodape__info:visited{color:#464646;}
.rodape__info:hover{color:#464646;}


.rodape__principal{
   display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;

 
}


.rodape__titulo{
  font-size:2rem ;
  padding-left:30px;
  
  }

.rodape__titulo::before {
   content: "alura";
   color: blue;
}

.rodape__titulo{
  font-size:200% ;
  padding-right:30px;
   display:inline;
  font-weight:bold;
  
  }

.rodape__titulo::before {
   content: "alura";
   color: blue;
}

.rodape__principal{
   display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;

 
}
