
.principal__verProdulto{color:#2A7AE4;
            text-decoration:none;}
.principal__verProdulto:link{color:#2A7AE4;
                 text-decoration:none;}
.principal__verProdulto:visited{color:#2A7AE4;
                    text-decoration:none;}
.principal__verProdulto:hover{color:#2A7AE4;
                  text-decoration:none;}