.principal{background: #E5E5E5;
           width: 100%;
           height:auto;
           display:flex;
           flex-wrap: wrap;}

.principal__banner{
  width: 100%;

}

.principal__corpo{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


.principal__produlto{
  text-align: left;
  
}

.principal__subcabecalho{
  width: 90vw;
  font-size: 2rem;
  margin: 1.2rem;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.principal__titulo{
  font-size: 2rem;
  margin: 1.2rem;
  display:inline;
 
}

.principal__ver{
  color:blue;
  text-decoration: none;
}

.principal__ver::after{
  content: "->";
   color: blue;
  
}


.principal__verProdulto{color:#2A7AE4;
            text-decoration:none;}
.principal__verProdulto:link{color:#2A7AE4;
                 text-decoration:none;}
.principal__verProdulto:visited{color:#2A7AE4;
                    text-decoration:none;}
.principal__verProdulto:hover{color:#2A7AE4;
                  text-decoration:none;}