
.principal{background: white;
           width: 100%;
           height:auto;
           display:flex;
           flex-wrap: wrap;
           flex-direction: column;
           text-align: center;
           align-items: center;
           
  
}


.principal__botão{
   height:2rem;
   width:70%;  
   margin: 1rem;
  background:blue;
  color:white;
  border:1px solid blue;
}

.principal__botão:hover{
  color:whitesmoke;
}


.principal__cadastro{
   height:2rem;
   width:70%;
   margin: 1rem;
  
}

.principal__form{display:flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width:70% ;
     }

.principal__texto{
  font-size: 2rem;
  margin: 1.2rem;
}share tech