
.principal{background: #E5E5E5;
           width: 100%;
           height:60rem;
           display:flex;
           flex-wrap: wrap;
           flex-direction: column;
           text-align: center;
           align-items: center;
           
  
}