.rodape__info{
  color:#464646;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

.rodape__info:link{color:#464646;}
.rodape__info:visited{color:#464646;}
.rodape__info:hover{color:#464646;}